<nav class="navbar navbar-expand-lg navbar-light bg-opacity-75 bg-success justify-content-between">
    <div class="d-flex justify-content-center align-items-center">
        <h1 class="me-4 ms-4">Pokemon App</h1>
        <p class="m-2 btn-outline-dark rounded-3 fw-bold" *ngIf="checkForUser()" (click)="catalogueButton()">
            Catalogue</p>
        <p class="m-2 btn-outline-dark rounded-3 fw-bold" *ngIf="checkForUser()" (click)="profileButton()">Profile</p>
    </div>
    <button class="btn-outline-dark ms-auto me-4 rounded-3" *ngIf="checkForUser()" (click)="logout()">Logout</button>
</nav>
