<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <fieldset class="mt-2">
        <label for="username" class="form-label">Username:</label>
        <input type="text"
               ngModel
               #username="ngModel"
               name="username"
               id="username"
               required
               minlength="2"
               maxlength="40"
               class="form-control" placeholder="Username">
    </fieldset>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
<p></p>
<section *ngIf="username.errors && (username.dirty || username.touched)">
    <div class="alert-danger">
        <p *ngIf="username.errors.minlength">Trainer name is to short</p>
        <p *ngIf="username.errors.required">Enter a trainer name</p>
    </div>
</section>
