<div class="text-center">
    <div *ngIf="user != undefined">
        <u><h3 class="mt-3 mb-3">
            {{user.username}}
        </h3></u>
    </div>
    <div class="container">
        <div class="row">
            <div class="catalogue">
                <div *ngFor="let pokemon of pokemonArray; index as i"
                     class="tooltipdiv text-center border border-secondary border-2 shadow p-3 rounded rounded-3"
                     (click)="click(i)">
                    <img src="{{pokemon.image}}"
                         class="w-75"/>
                    <p class="text-capitalize">{{pokemon.name}}</p>
                    <span class="tooltiptext">Details</span>
                </div>
            </div>
        </div>
    </div>
</div>
