.liType {
    margin: 3px;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 1em;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.catchButton{
    margin: 3px;
    padding: 4px 15px;
    border: 2px solid white;
    border-radius: 1em;
    background: red;
}

.releaseButton{
    margin: 3px;
    padding: 4px 15px;
    border: 2px solid white;
    border-radius: 1em;
    color: white;
    background: black;
}
