<header class="py-3 sticky-top page-header">
    <app-container>
        <ng-container *ngFor="let type of pokemonStats?.types; let i = index">
            <div *ngIf="i===0" class="pokemonHeader text-center p-3 rounded-3"
                 style="background: {{color[type.type.name]}}80">
                <section class="align-items-center">
                    <img src="{{pokeSpriteURL}}/{{pokemonId}}.png">
                    <h3 class="page-title text-capitalize">{{pokemonId}}: {{pokemonStats?.name}}</h3>
                </section>
                <ul class="list-unstyled">
                    <li *ngFor="let type of pokemonStats?.types" class="liType d-inline"
                        style="background: {{color[type.type.name]}}">{{type.type.name}}</li>
                </ul>
                <p>{{flavourText}}</p>
                <div *ngIf="!hasPokemon" class="d-flex justify-content-center">
                    <button class="catchButton d-flex align-items-center" (click)="catchPokemon()">
                    <span class="material-icons me-2">catching_pokemon</span>
                    Catch
                    </button>
                </div>
                <div *ngIf="hasPokemon" class="d-flex justify-content-center">
                    <button class="releaseButton d-flex align-items-center" (click)="releasePokemon()">
                        Release
                    </button>
                </div>
            </div>
        </ng-container>

        <div class="container mt-4">
            <div class="row display-flex">
                <div class="col-md-4 p-0 mb-3">
                    <div class="mb-3 p-2 border border-secondary border-4 rounded-3">
                        <h3>Stats</h3>
                        <ul class="list-group">
                            <li *ngFor="let stat of pokemonStats?.stats; index as i"
                                class="list-group-item border-0">
                                <b class="text-capitalize">{{stat.stat.name}}</b>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="width:{{100 * stat.base_stat / maxStats[i]}}%;">{{stat.base_stat}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div *ngIf="pokemonStats?.moves?.length !== 0" class="p-2 border border-secondary border-4 rounded-3">
                        <h3>Moves</h3>
                        <ul class="list-group">
                            <div *ngFor="let move of pokemonStats?.moves; index as i">
                                <li *ngIf="i<10 || showAllMoves" class="list-group-item">{{move.move.name}}</li>
                            </div>
                        </ul>
                        <button *ngIf="pokemonStats?.moves?.length! > 10" class="btn-outline-dark rounded-bottom mt-2" (click)="showHideMoves()">{{showButtonName}}</button>
                    </div>
                </div>
                <div class="col-md-6 offset-md-2 mb-3 p-0">
                    <div class="border border-secondary border-4 rounded-3">
                        <h3 class="m-2">Abilities</h3>
                        <ul class="list-group">
                            <li *ngFor="let ability of pokemonStats?.abilities; index as i"
                                class="list-group-item border-start-0 border-end-0 border-top-0">
                                <h5 class="text-capitalize">{{ability.ability.name}}</h5>
                                <p>{{pokemonAbility[i]}}</p>
                            </li>
                        </ul>
                    </div>


                </div>

            </div>
        </div>


    </app-container>
</header>

<section class="avatar pb-5">

    <app-container>


    </app-container>
</section>
