<app-container>
    <button class="mt-4 d-flex align-items-center rounded-3 btn-outline-dark" (click)="back()">
        <span class="material-icons me-2">arrow_back</span>
        Back</button>
    <h2>PokemonInfo</h2>
    <app-catalogue-info></app-catalogue-info>
</app-container>
