.catalogue{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding-bottom: 6.5em;
}

@media(max-width:540px){
    .catalogue{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}



/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    margin-top: -10px;
}

/* Show the tooltip text when you mouse over the tooltip container */
@media(hover: hover) and (pointer: fine) {

    .tooltipdiv:hover .tooltiptext {
        visibility: visible;
    }
}


.tooltipdiv:hover {
    background-color: lightgrey;
}

.tooltipdiv .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}

.btn-outline-dark:disabled{
    color: #888;
}
