<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="catalogue">
                <div *ngFor="let pokemon of pokemonArray | async; index as i" class="tooltipdiv text-center border border-secondary border-2 shadow p-3 rounded rounded-3" (click)="click(i)">
                    <img src="{{pokemon.image}}"
                         class="w-75"/>
                    <div class="m-0 d-flex justify-content-center align-items-bottom">
                        <span *ngIf="checkIfOwnedPokemon(pokemon.id)" class="material-icons text-danger">catching_pokemon</span>
                        <p *ngIf="checkIfOwnedPokemon(pokemon.id)" class="fw-bold text-capitalize">{{pokemon.name}}</p>
                        <p class="text-capitalize" *ngIf="!checkIfOwnedPokemon(pokemon.id)">{{pokemon.name}}</p>
                        <span *ngIf="checkIfOwnedPokemon(pokemon.id)" class="material-icons text-danger">catching_pokemon</span>
                    </div>
                    <span class="tooltiptext">Details</span>
                </div>


            </div>
        </div>
    </div>
    <div class="btn-group mb-4">
        <button class="btn-outline-dark rounded-start" (click)="previous()" [disabled]="index == 1">previous</button>
        <button class="btn-outline-dark" disabled>{{index}}/{{maxPage}}</button>
        <button class="btn-outline-dark rounded-end" (click)="next()" [disabled]="index >= maxPage">Next</button>
    </div>

</div>

